html,
body {
  /* height: 100%; */
}

*:focus {
  outline: none;
}

ol,
li {
  margin: 10px;
  padding: 0;
}

li + li {
  margin-top: 0.5em;
}

input {
  border-radius: 5px;
  color: rgb(75, 75, 75);
  border: 1.5px solid rgb(75, 75, 75);
  background: rgb(244, 244, 244);
  padding: 8px;
  margin: 2.5px;
}

input:focus {
  background: transparent;
  color: rgb(15, 15, 15);
  border: 1.5px solid rgb(50, 50, 50);
}

button {
  border-radius: 5px;
  border: 1.5px solid rgb(75, 75, 75);
  color: rgb(75, 75, 75);
  background: rgb(244, 244, 244);
  padding: 5px;
  margin: 2.5px;
  align-self: center;
}

button:hover {
  color: rgb(15, 15, 15);
  border: 1.5px solid rgb(50, 50, 50);
}

button:active {
  background: transparent;
}

.App {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.App-main {
  box-shadow: -1px -1px 5px 0px black;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 5px;
  width: 90%;
}

.App-instruction {
  flex: 0 1 auto;
  background: rgb(75, 75, 75);
  color: rgb(244, 244, 244);
  padding: 0;
  font-style: italic;
  border-radius: 0 0 5px 5px;
}

.game {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-header {
  font-weight: 800;
  margin: 15px 10px;
}

.game-interaction {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5px;
}

.game-message {
  min-height: 2.2em;
  text-align: center;
  margin: 0 10px;
}

.message-result {
  color: rgb(0, 0, 0);
  font-weight: 550;
}

.message-error {
  color: rgb(250, 5, 5);
  font-weight: 200;
  text-transform: lowercase;
}

@media all and (min-width: 768px) {
  .App-main {
    flex-direction: row;
    width: 50%;
  }

  .App-instruction {
    width: 35%;
    border-radius: 5px 0 0 5px;
    padding: 5px 0 5px 5px;
    overflow: auto;
  }

  .game-interaction {
    flex-direction: row;
  }
}
